body,
html {
  font-family: "PingFangSC",
  "Helvetica Neue",
  Helvetica,
  Arial,
  "Microsoft Yahei",
  "Hiragino Sans GB",
  "Heiti SC",
  "WenQuanYi Micro Hei",
  sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  color: #4a4a4a;
}

.light {
  color: #80ddaa;
}
